

.section_donations {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-donations,
.routes-section {
    width: 48%;
    background-color: #FFE9B7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 55rem;
    overflow-y: auto;
}

h4 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
    color: #495057;
}

.route-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.route-form input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.no-routes {
    text-align: center;
    background-color: #bd3e3a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.route-card {
    display: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.route-img {
    margin-left: 13rem;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.route-info {
    flex: 1;
}

.route-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.update-btn,
.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn {
    background-color: #0d6efd;
    color: #fff;
}

.delete-btn {
    background-color: #FF8097;
    color: #fff;
}

.update-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #be4040;
}

/* Adaptación para dispositivos con ancho menor o igual a 768px */
@media (max-width: 768px) {
    .section_donations {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .form-donations,
    .routes-section {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 2rem;
    }

    .route-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .route-img {
        margin-left: 0;
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}
