.header3 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
      url(https://wallpapercave.com/wp/wp3802831.jpg) center bottom no-repeat;
  background-size: cover;
  background-position: center 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10rem;
}



.container1 {
  max-width: 60rem;
  margin: 0 auto;
  gap: 5rem;
  margin-bottom: 12rem;
}

.text-center1 {
  margin-top: 5rem;
  color: white;
}


.formulario fieldset {
  border: 1px solid black;
  margin-bottom: 5rem;
}

.formulario1 legend {
  background-color: #005485;
  width: 100%;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  margin-bottom: 4rem;
}

.campo1 {
  display: flex;
  margin-bottom: 2rem;
}

.campo1 label {
  flex-basis: 10rem;
}

.campo1 input:not([type="radio"]),
.campo1 textarea,
.campo1 select {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}

.enlace {
  display: block;
  text-align: right;
  color: #005485;
  text-decoration: underline;
}

.btn {
  background-color: #87b403;
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color .3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
}

.btn:hover {
  background-color: #769c02;
  cursor: pointer;
}

/* Estilos para dispositivos con un ancho menor o igual a 768px */
@media (width <= 768px) {
  .header3 {
      gap: 5rem; /* Reducir el espacio entre elementos */
  }

  .container1 {
      max-width: 90%; /* Aumentar el ancho del contenedor */
      margin-bottom: 6rem; /* Reducir el margen inferior */
  }

  .text-center1 {
      margin-top: 3rem; /* Reducir el margen superior */
      font-size: 1.5rem; /* Reducir el tamaño de la fuente */
  }

  .formulario1 {
      max-width: 100%; /* Aumentar el ancho del formulario */
  }

  .formulario1 legend {
      font-size: 1.2rem; /* Reducir el tamaño de la fuente */
      padding: 0.5rem; /* Reducir el padding */
      margin-bottom: 2rem; /* Reducir el margen inferior */
  }

  .campo1 {
      flex-direction: column; /* Cambiar a disposición vertical */
      margin-bottom: 1rem; /* Reducir el margen inferior */
  }

  .campo1 label {
      flex-basis: auto; /* Ajustar el tamaño de la etiqueta */
      margin-bottom: 0.5rem; /* Añadir margen inferior */
  }

  .campo1 input:not([type="radio"]),
  .campo1 textarea,
  .campo1 select {
      width: 100%; /* Ajustar el ancho al 100% */
  }

  .enlace {
      text-align: center; /* Centrar el enlace */
  }

  .btn {
      font-size: 1rem; /* Reducir el tamaño de la fuente */
      padding: 0.8rem; /* Reducir el padding */
  }
}