html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

/** Utilidades */
.text-center {
  text-align: center;
}

.formulario {
  max-width: 120rem;
  margin: 0 auto;
}

.formulario fieldset {
  border-radius: 3%;
  border: 1.5px solid black;
  margin-bottom: 2rem;
}
.formulario legend {
  background-color: #FF8097;
  width: 100%;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  margin-bottom: 4rem;

}

.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo label {
  flex-basis: 10rem;
} 
.campo input:not([type="radio"]),
.campo textarea,
.campo select  {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}

.enlace_1{
  display: block;
  text-align: right;
  color: #005485;
  text-decoration: none;
  margin-bottom: 2rem;
}

.btn-enviar{
  background-color: #20c620;
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color .3s ease-out ;
  text-align: center;
  border: none;
  width: 100%;
}
.btn-enviar:hover {
  background-color: #21ab21;
  cursor: pointer;
}